@import 'variables';

.entry-wrap {
    .contest-card {
        transition: 0.2s;
        &:hover {
            background: #e24051;
            transform: scale(1.05);

            .card-icon{
                font-size: 50px;
                color: $lighter !important;
            }
        }

        .image-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            cursor: pointer;

            .card-icon{
                font-size: 50px;
                transition: 0.2s;
                color: $primary;
            }
        }
    }
    .entry-item{
        width: 24%;
    }
}
.voting-btn {
    background: $dark;
    border: 0;
    color: $light;
    transition: 0.3s;
    aspect-ratio: 1 / 1;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    &:hover {
        background: $light;
        color: $dark;
    }

    &.active {
        background: #e24051;
        color:  $light;

        &:hover {
            background: $dark;
        }
    }
}
.contest-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    object-fit: contain;
    padding: 1rem;
    color: $light;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    background-color: $grey-dark;
    border: 1px solid $primary;

    .image-wrap{
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}
.winner-item{
    max-height: 250px;
    width: 20%;

    .winner-placement {
        font-size: 1.2em;
        color: $lighter;
        width: 100%;
        background-color: $primary;
        padding: 0px 8px;
        font-weight: 700;
        display: inline-flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
}
.contest-title {
    font-weight: 700;
    color: $primary;
}
.date-wrap {
    span.start {
        color: $primary;
    }
}
.modal {

    button.btn.modal-close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        background: #ffffff;
        z-index: 100;
    }
    .entry-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 0px;
        gap: 10px;

        .image-controls {

            #img-no {
                background: #4e4e4e;
                color: $light;
                border: solid 1px $primary;
            }

            display: flex;
            justify-content: space-between;
            gap: 10px;
            button.btn {
                background: #e24051;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
    .modal-content {
        width: auto;
        max-width: 90%;
        min-width: 75%;
        max-height: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        background: $grey-dark;
        border: 2px solid $primary;
    }
    .content-modal-content {
        height: 100%;
        overflow: hidden;
    }
    .image-wrapper {
        background: $dark;
        width: 100%;
        cursor: move;

        .react-transform-wrapper{
            width: 100%;
        }
    }
    .yt-player {
        aspect-ratio: 16 / 9;
        background: $dark;
    }
    img.entry-image {
        height: 100%;
        width: auto;
        object-fit: contain;
        &.full {
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 1400px) {
    .entry-wrap {
        .entry-item {
            width: 30%;
        }
    }
}
@media only screen and (max-width: 1000px) {
    ul.menu {
        font-size: 16px;
    }
    .modal {
        .entry-info {
            .image-controls {
                display: flex;
                flex-direction: column;
            }
        }
    }
    .entry-wrap {
        .entry-item {
            width: 48%;
        }
    }
}
@media only screen and (max-width: 600px) {
    .modal {
        .modal-content {
            max-height: 90%;
            max-width: 100%;
        }
    }
    p.message {
        font-size: 14px !important;
        max-height: 200px;
        overflow-x: scroll;
    }
    .entry-wrap {
        
        .entry-item {
            width: 100%;
        }
    }
    .entry-info {
        .image-controls {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
            flex-wrap: wrap !important;

            #img-no {
                width: 100%;
            }
            button.btn {
                width: 47%;
            }
        }
    }
    .info-top {
        width: 100%;
        padding-top: 50px;
        h3 {
            font-size: 20px !important;
        }
    }
}
.rm-vote {
    background-color: $primary;
    border: 0;
    color: $light;

    &:hover {
        background-color: $tertiary;
        color: $dark;
    }
}