@import 'variables';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: $dark;
    color: $light;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: inherit;
        color: $primary;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 10px;

        li {
            a{
                text-decoration: none;
                color: $light;
                transition: 0.2s;

                &:hover {
                    color: $tertiary;
                }
                &.menu-primary {
                    color: $primary;

                    &:hover {
                        color: $tertiary;
                    }
                }
                &.menu-secondary {
                    color: $primary;

                    &:hover {
                        color: $tertiary;
                    }
                }
            }
        }
    }
}